.banner {
	width: 970px;
	>p {
		height: 34px;
		line-height: 34px;
		margin-left: 5px;
		a {
			color: #606060;
		}
	}
	.zoom {
		width: 400px;
		height: 400px;
		position: relative;
	}
	.min {
		width: 400px;
		height: 400px;
		border: 1px solid #dcdddd;
		position: relative;
		img {
			width: 100%;
			height: 100%;
		}
		.mask {
			width: 148px;
			height: 148px;
			position: absolute;
			left: 0;
			top: 0;
			background: rgba( 0,255,0,0.2 );
			border-color:  rgba( 0,255,0,0.4 );
			cursor: move;
		}
	}
	.small {
		width: 402px;
		height: 134px;
		li {
			width: 58px;
			height: 58px;
			border: 1px solid #dcdddd;
			float: left;
			margin-top: 8px;
			margin-right: 25px;
			img {
				width: 100%;
				height: 100%
			}
		}
		.bordergreen {
			border: 1px solid #3ea600;
		}
	}
	.big {
		width: 400px;
		height: 400px;
		overflow: hidden;
		position: absolute;
		border: 1px solid #dcdddd;
		left: 410px;
		top:0;
		display: none;
		z-index: 999;
		img {
			position: absolute;
		}
	}
	.zoomRight {
		margin-left: 28px;
		.priceTitle {
			font-size: 16px;
			font-weight: bold;
			color: #666;
			height: 33px;
			span {
				display: block;
				width: 30px;
				height: 18px;
				background: #c20312;
				color: #fff;
				font-size: 12px;
				text-align:center;
				font-weight: normal;
				margin-top: 7px;
			}
			p {
				line-height: 33px;
			}
		}
		.price {
			width: 540px;
			min-height: 130px;
			background: #f5f5f5;
			position: relative;
			>a {
				position: absolute;
				top: 90px;
				right: 15px;
				color: #666666;
				i {
					display: inline-block;
					width: 9px;
					height: 5px;
					background: url("../image/details.png");
					background-position: -92px -26px;
					padding-top: 1px;
					margin: 0 8px;
				}
			}
			>a:hover {
				text-decoration: underline;
				color: #318700;
			}
			.priceTop {
				font-size: 15px;
				color: #c40000;
				height: 49px;
				padding-top: 26px;
				margin-left: 16px;
				span {
					font-size: 26px;
					font-weight: bold;
				}
				b {
					font-weight: normal;
					display: inline-block;
					width: 46px;
					height: 18px;
					background: #c40000;
					color: #fff;
					font-size: 12px;
					text-align: center;
					margin: 0 10px;
				}
				a {
					font-size: 12px;
					color: #666;
				}
			}
			p {
				margin-left: 16px;
				color: #666;
				em {
					display: inline-block;
					width: 34px;
					height: 20px;
					font-style: normal;
					background: #c40000;
					color: #fff;
					text-align: center;
					line-height: 20px;
					margin-right: 5px;
				}
				b {
					display: inline-block;
					width: 46px;
					height: 20px;
					font-weight: normal;
					background: #c40000;
					color: #fff;
					text-align: center;
					line-height: 20px;
					margin-right: 5px;
					margin: 6px 0;
				}
				i {
					display: inline-block;
					width: 11px;
					height: 11px;
					background: url("../image/newDetail_btn.png");
					background-position: -122px 0;
					margin: 0 4px 0 16px;
				}
				a {
					color: #c40000;
					text-decoration: underline;
				}
				a:hover {
					color: #666666;
				}
			}
			.priceSmall {
				display: none;
				width: 540px;
				height: 70px;
				border-top: 1px solid #e6e6e6;
				border-bottom: 1px dashed #e6e6e6;
				position: relative;
				>i {
					display: block;
					width: 17px;
					height: 17px;
					background: url("../image/newDetail_btn.png");
					background-position: -36px 0;
					position: absolute;
					top: 26px;
				}
				>i:nth-of-type(2) {
					right: 5px;
					background-position: -91px 0;
				}
				.priceSmallWidth {
					width: 500px;
					height: 70px;
					overflow: hidden;
					margin-left: 16px;
					position: relative;
				}
				ul {
					width: 1408px;
					position: absolute;
				}
				dt {
					width: 48px;
					height: 48px;
					line-height: 70px;
					img {
						width: 100%;
						height: 100%;
						border: 1px solid #c20312;
					}
				}
				dd {
					padding-left: 5px;
					width: 71px;
					height: 48px;
					border: 1px solid #c20312;
					border-left: none;
					margin-top: 12px;
					position: relative;
					color: #666;
					i {
						display: inline-block;
						width: 11px;
						height: 11px;
						background: url("../image/newDetail_btn.png");
						background-position: -135px 0;
						position: absolute;
						right: 0;
						bottom: 0;
					}
				}
			}
		}
		>p {
			height: 28px;
			color: #666666;
			padding-top: 6px;
			line-height: 28px;
			span {
				display: inline-block;
				width: 130px;
				height: 24px;
				border: 1px solid #666;
			}
			i {
				display: inline-block;
				width: 96px;
				height: 28px;
				border:1px solid #666666;
				font-style: normal;
				text-align: center;
				line-height: 28px;
				margin-right: 8px;
				position: relative;
			}
			.biankuang {
				border:2px solid #c40000;
				b {
					display: inline-block;
					width: 13px;
					height: 13px;
					background: url("../image/biankuang.jpg") no-repeat;
					background-position: -52px -17px;
					position: absolute;
					right: -2px;
					bottom: 0;
				}
			}
			i:hover {
				border:2px solid #c40000;
			}
		}
		.shuliang {
			span {
				width: 13px;
				height: 28px;
				border: 1px solid #666666;
				vertical-align: bottom;	
				text-align: center;	
			}
			input {
				width: 45px;
				height: 28px;
				border: 1px solid #666666;
				border-right: none;
				border-left: none;
				outline:none;
				text-align: center;
			}
		}
		.jiaru {
			padding-top: 0;
			width: 194px;
			height: 46px;
			background: #c40000;
			color: #fff;
			line-height: 46px;
			text-align: center;
			font-size: 16px;
			margin-right: 20px;
			margin-top: 23px;
			border:none;
			em {
				font-style: normal;
			}
			i {
				display: inline-block;
				width: 20px;
				height: 15px;
				border:none;
				background: url('../image/details.png');
				margin-right: 6px;
			}
		}
		.saosao {
			margin-top: 23px;
			padding-top: 0;
			width: 194px;
			height: 46px;
			color: #666666;
			line-height: 46px;
			text-align: center;
			font-size: 16px;
			margin-right: 20px;
			border: 1px solid #c40000;
			background: #fff;
			em {
				font-style: normal;
			}
			i {
				display: inline-block;
				width: 20px;
				height: 20px;
				border:none;
				background: url('../image/mqr.png');
				margin-right: 6px;
			}
		}
	}
}