a {
	color: #000;
}
.topNavWrap,.navWrap,.bannerWrap,.tWrap,.searchWrap {
  width: 100%;
}
.topNavWrap {
  height: 32px;
  background: #f5f5f5;
}
.topNav,.searchBox,.nav,.banner,.dtwo,.mainOne,.mainTwo,.mainThree,.floorOne,.floorTwo,.floorThree
,.floorFour,.floorFive,.floorSix,.floorSeven,.floorEight,.floorNine,.floorTen,.floorEleven,.lastContent {
  margin: 0 auto;
  width: 1210px;
}
.topNavLeft li {
  float: left;
  line-height: 32px;
}
.topNavLeft li:first-of-type {
  background: url(../image/index.png) no-repeat;
  background-position: -100px 0;
  margin-right: 22px;
  padding-left: 16px;
}
.jiantou {
	display: inline-block;
	width: 6px;
	height: 3px;
	background: url('../image/index.png') no-repeat;
	background-position: -92px 0;
	margin-right: 32px
}
.topNavLeft a,.Me a {
	margin-right: 6px;
}
.topNavLeft a:hover {
	color: #8cb91e;
}
.topNavCenter li {
	float: left;
	line-height: 32px;
}
.topNavCenter li:nth-of-type(2) {
	margin-left: 10px;
}
.topNavCenter li a:nth-of-type(1):hover,.topNavCenter li a:nth-of-type(2):hover,.topNavLast li:first-of-type a:hover,.topNavLast li:nth-of-type(3) a:hover {
	color: #8cb91e;
	text-decoration: underline;
}
.topNavCenter li:nth-of-type(3) {
	margin-left: 20px;
}
.Me {
	line-height : 32px;
	margin-left : 420px;
	text-align: center;
	margin-right: 4px;
	position: relative;
}
.text {
	height: 30px;
	width: 80px;
	display: inline-block;
	z-index: 103;
	position: relative;
}
.Me .jiantou {
	margin-right: 0px;
}
.MeSon {
	width: 186px;
	height: 192px;
	text-align: left;
	border: 1px solid #8cb91e;
	padding-left: 10px; 
	padding-top: 10px;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 101;
	background: #fff;
	display: none;
}
.MeSon li {
	padding: 0 4px;
	margin-right: 7px;
}
.MeSon li:hover {
	background: #f5f5f5;
}
.MeSon .left li:first-of-type:hover {
	background: #fff;
}
.MeSon .left li:first-of-type a {
	color: #098a00;
}
.MeSon ul:first-child {
	margin-right: 10px;
}
.topNavLast li {
	float: left;
	line-height: 32px;
}
.topNavLast li:first-of-type i {
	background: url('../image/index.png') no-repeat;
	background-position: -78px 0;
	display: inline-block;
	width: 12px;
	height: 12px;
}
.shu {
	font-size: 11px;
	color: #e4dee7;
}
.topNavLast li a {
	margin-right: 12px;
}
.topNavLast li:nth-of-type(2) {
	position: relative;
}
.topNavLast li:nth-of-type(2) span {
	text-align: center;
}
.topNavLast li:nth-of-type(2) span .jiantou {
	margin-left: 0px;
	margin-right: 0px;
}
.topNavLast li:nth-of-type(2) .MeSon {
	width: 70px;
	height: 72px;
}
.topNavLast li:nth-of-type(2) .MeSon li {
	width: 60px;
}
.topNavLast li:nth-of-type(2) a {
	margin-right: 0;
}
.topNavLast li:nth-of-type(3) a {
	margin-left: 12px;
}
.topNavLast li:first-of-type a span{
	color: #8cb91e;
}
.topNavLast .bg a {
	display: inline-block;
	width: 43px;
	height: 18px;
	margin-top: 8px;
	background: url('../image/index.png') no-repeat;
}
.topNavLast .bg a:first-of-type {
	margin-left: 24px;
}
.topNavLast .bg a:last-of-type {
	background: url('../image/base.png') no-repeat;
	background-position: -92px -82px; 
}
/* search */
.searchWrap {
	background: rgba(255,255,255);
	height:153px;
}
.searchBox {
	height: 153px;
	line-height: 148px;
}
.search {
	height: 38px;
	width: 584px;
	border: 2px solid  #c30000;
	position: relative;
	margin-top: 47px;
	margin-left: 52px;
}
.search input {
	height: 38px;
	width: 452px;
	border: none;
	position: absolute;
	left: 31px;
	outline: none;
	caret-color: #c30000;
	color: #bbbb;
}
.search button {
	width: 100px;
	height: 40px;
	border: none;
	background: #c30000;
	font-size: 18px;
	color: #fff;
	position: absolute;
	left: 484px;
	top: 0px;
}
.search span {
	display: inline-block;
	width: 30px;
	height: 38px;
	background: url('../image/index.png') no-repeat;
	background-position: -60px -13px;
	position: absolute;
	left: 0;
	top: 0;
}
.heightsearch {
	font-size: 16px;
	width: 32px;
	height: 32px;
	line-height: 16px;
	margin-top: 50px;
	color: #606060;
	margin-left: 10px;
}
.heightsearch:hover a,.keyWord li a:hover {
	text-decoration: underline;
	color: #8cb91e;
}
.keyWord {
	position: absolute;
	left: 440px;
	top: 62px;
}
.keyWord li {
	float: left;
	margin: 0 9px;
}
.keyWord li a {
	color: #757575;
}
/* nav */
.navWrap {
	height: 46px;
	border-bottom: 2px solid #8cb91e; 
}
.nav {
	height: 46px;
}
.navLeft {
	width: 210px;
	height: 46px;
	background: #2d8800;
	line-height: 46px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
.nav ul li {
	float: left;
	margin: 0 22px;
	line-height: 46px;
	font-size: 16px;
}
.nav ul li a:hover {
	color: #8cb91e;
}
.navright {
	position: relative;
}
.navright .text {
	width: 200px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 14px;
	position: relative;
}
.navright .shopcar {
	display: inline-block;
	width: 28px;
	height: 20px;
	background: url('../image/index.png');
	background-position: -48px 0px;
}
.navright .arrow {
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url('../image/index.png');
	background-position: 0px -40px;
}
.navright .MeSon {
	width: 358px;
	height: 116px;
	left: -168px;
	top: 48px; 
	text-align: center;

}
.navright .MeSon p {
	margin: 0 auto;
	width: 80px;
	height: 46px;
	background: url('../image/cart-no.jpg')
}
.navright .MeSon span {
	line-height: 30px;
	display: block;
}
/* banner */
.bannerWrap {
	height: 452px;
	background: url('../image/bannerbg.png') no-repeat top center;
}
.banner {
	height: 450px;
}
.bannerLeft {
	width: 210px;
	height: 100%;
	background: #3ea600;
}
.bannerLeft li {
	height: 32px;
	line-height: 32px;
	margin: 8px 0;
}
.bannerLeft .bannerLeftbg {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 20px;
}
.bannerLeft a {
	color: #fff;
	font-size: 14px;
	margin: 0 10px;
}
.bannerLeft a:hover {
	text-decoration: underline;
}
.bannerLeft+ul a:hover {
	text-decoration: underline;
	color: #3ea600;
}
.bannerRight {
	width: 198px;
	height: 448px;
	border: 1px solid #f7f7f7;
}
.bannerRight .bannerRightTop {
	width: 198px;
	height: 32px;
	line-height: 32px;
}
.bannerRight .bannerRightTop li {
	width: 66px;
	height: 29px;
	text-align: center;
	float: left;
	color: #606060;
}
.bannerRightTopOne {
	background: #fff;
	border-bottom: 2px solid #2d8800;
}
.bannerRightTop+ul li {
	width: 183px;
	height: 73px;
	display: none;
}
.bannerRightTop+ul .displayblock {
	display: block;
}
.bannerRightTop+ul {
	margin-top: 12px;
	border-bottom: 1px solid #dddddd;
}
.bannerRightTop+ul li {
	padding-left: 16px;
}
.bannerRightTop+ul li p {
	line-height: 22px;
}
.bannerRightTop+ul li span {
	display: inline-block;
	width: 2px;
	height: 2px;
	background: #4d4d4d;
	vertical-align: middle;
	margin-right: 8px; 
}
.bannerLeft+ul>li {
	width: 787px;
	height: 449px;
	background: #fff;
	border: 1px solid #2d8800;
	border-left: none;
	position: absolute;
	display: none;
	z-index: 999;
}
.bannerLeft+ul>li ul {
	margin-top: 12px;
}
.bannerLeft+ul>li ul li p {
	display: inline-block;
	width: 630px;
	height: 44px;
	border-bottom: 1px solid #eaeaea;
	line-height: 44px;
	margin-left: 10px;
}
.bannerLeft+ul>li ul li p a {
	margin-left : 8px;
	margin-right: 8px; 
}
.bannerLeft+ul>li ul li span {
	font-size: 16px;
	color: #eaeaea;
}
.bannerLeft+ul>li ul li>span {
	display: inline-block;
	width: 112px;
	text-align: right;
}
.bannerLeft+ul>li ul li>span i {
	display: inline-block;
	width: 4px;
	height: 6px;
	background: url('../image/index.png');
	background-position: -98px 0;
}
.bannerLeft+ul>li ul li>span a {
	font-size: 12px;
	font-weight: bold;
	margin-right: 8px;
}
.bannerCenter {
	position: relative;
}
.bannerImage {
	width: 800px;
	height: 450px;
}
.bannerImage li {
	position: absolute;
}
.hovers {
	position: absolute;
	left: 248px;
	bottom: 24px;
	z-index: 200;
}
.hover {
	width: 21px;
	height: 21px;
	background: url('../image/b_icon.png');
	float: left;
	margin: 0 7px;
}
.jiao li {
	width: 28px;
	height: 62px;
	position: absolute;
	z-index: 200;
	background: rgba(0, 0, 0, 0.3);
	top: 194px;
	text-align: center;
	line-height: 62px;
	color: #fff;
	font-size: 20px;
	cursor:pointer;
	display: none;
}
.jiaoLeft {
	left: 0;
}
.jiaoRight {
	right: 0;
}
.bannerRightCenter li {
	float: left;
	border-left: 1px dashed #dddddd;
	border-bottom: 1px dashed #dddddd;
}
/* 双十二 */
.tWrap {
	height: 800px;
	background: url('../image/selfbk-1123.png') top center;
}
.dtwo {
	height: 800px;
}
.dtwoleft li {
	position: relative;
}
.dtwoleft img {
	width: 223px;
	height: 524px;
	margin-top: 10px;
}
.dtworight ul:first-child {
	width: 980px;
	height: 414px;
	margin-top: 8px;
	margin-left: 6px;
}
.dtworight ul:first-child li img {
	width: 185px;
	height: 205px;
}
.dtworight ul:last-child {
	margin-left: 6px;
}
.dtworight ul:last-child li img {
	width: 235px;
	height: 101px;
}
.dtworight ul li {
	float: left;
	margin-right: 6px;
	margin-top: 3px; 
	position: relative;
}
/* mainOne */
.mainOne {
	height: 374px;
}
.mainTop {
	height: 52px;
	border-bottom: 2px solid #4bae00;
	line-height: 52px;
}
.bottomleft {
	position: relative;
	overflow: hidden;
}
.bottomleft>div{
	position: absolute;
	left: -242px;
	top: 0;
	display: none;
}
.mainbottomright {
	width: 968px;
	height: 320px;
	overflow: hidden;
	background: #ededed;
	position: relative;
}
.mainbottomright ul {
	height: 320px;
	position: absolute;
}
.mainbottomright li {
	width: 238px;
	height: 320px;
	overflow: hidden;
	float: left;
	margin-right: 4px;
	background: #fff;
}
.mainbottomright li>a {
	width: 238px;
	height: 220px;
	display: inline-block;
	line-height: 220px;
	text-align: center;
}
.mainbottomright li img {
	height: 180px;
	width: 180px;
}
.mainbottomright li p {
	background: #f1f7f4;
	width: 202px;
	height: 74px;
	padding: 14px 18px 12px 18px;
}
.mainbottomright li p a {
	display: inline-block;
}
.mainbottomright li p a:hover {
	text-decoration: underline;
}
.mainbottomright li p>a:first-child {
	font-size: 16px;
	color: #383838;
}
.mainbottomright li p>a:nth-child(2) {
	font-size: 14px;
	color: #606060;
	line-height: 32px;
}
.mainbottomright li p>a:first-child:hover,.mainbottomright li p>a:nth-child(2):hover {
	color: #8cb91e;
}
.mainbottomright li p span {
	font-size: 20px;
	color: #de0801;
}
.mainbottomright li p>a:nth-child(4) {
	color: #606060;
	background: url('../image/buyBtn.jpg');
	width: 80px;
	height: 26px;
	color: #fff;
	text-align: center;
	line-height: 26px;
	float: right;
	vertical-align: top;
}
.jiao1 li {
	width: 32px;
	height: 38px;
	position: absolute;
	z-index: 200;
	top: 50%;
	margin-top: -19px;
	cursor:pointer;
	display: none;
	background: rgba(0, 0, 0, 0.1) url('../image/lr.png') no-repeat;
}
.jiao1 .jiao1Left {
	left: 0;
}
.jiao1 .jiao1Right {
	right: -970px;
	background: rgba(0, 0, 0, 0.1) url('../image/lr.png') no-repeat;
	background-position: -32px 0;
}
/* mainTwo */
.mainTwo {
	height: 476px;
}
.mainTwobottomright li {
	float: left;
}
/* mainThree */
.mainThree {
	height: 486px;
}
.mainThreebottom {
	height: 320px;
	overflow: hidden;
	position: relative;
}
.mainThreebottom ul {
	height: 320px;
	position: absolute;
}
.mainThreebottom li,.mainThreeLastbottom li {
	float: left;
}
.mainThreebottom li:hover img {
	transform: translateX(-10px);
}
.mainThreebottom li a img {
	position: absolute;
	transition: 0.5s;
}
.mainThreebottom .jiao1 .jiao1Right {
	right: -1210px;
	background: rgba(0, 0, 0, 0.1) url('../image/lr.png') no-repeat;
	background-position: -32px 0;
}
/* floorOne */
.floorOne,.floorTwo, .floorThree,.floorFour,.floorFive,.floorSix,.floorSeven,.floorEight,.floorNine,.floorTen,.floorEleven {
	height: 556px;
}
.floorTop {
	height: 52px;
	line-height: 52px;
	color: #88a9e2;
}
.floorTop span {
	display: inline-block;
	width: 5px;
	height: 20px;
	background: #88a9e2;
	margin-right: 10px;
}
.floorTop b {
	font-weight: normal;
	font-size: 18px;
}
.floorLeft {
	width: 242px;
	height: 504px;
}
.floorLeft .floorLeftTop {
	height: 168px;
	background: #a1c0f6;
	position: relative;
	overflow: hidden;
}
.floorLeft .floorLeftTop ul {
	width: 200px;
	height: 116px;
	margin: 50px 21px 0 21px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.floorLeft .floorLeftTop ul li {
	float: left;
	margin-right: 18px;
	line-height: 36px;
	position: relative;
	padding-left: 25px;
}
.floorLeft .floorLeftTop ul li i {
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 7px;
}
.floorLeft .floorLeftTop ul li a {
	font-size: 14px;
	color: #5e7090;
}
.floorLeft .floorLeftTop ul li a:hover {
	text-decoration: underline;
	color: #000;
}
.floorLeft .floorLeftTop .floor_icon {
	height: 64px;
	width: 64px;
	background: url('../image/floor_icon.png') no-repeat;
	line-height: 42px;
	position: absolute;
}
.floorLeft .floorLeftTop .floor_icon b {
	font-size: 18px;
	color: #fff;
	margin-left: 10px;
}
.floorRight {
	width: 966px;
}
.floorRight .floorRightTop {
	font-size: 16px;
	border-bottom: 1px solid #a1c0f6;
	height: 52px;
	line-height: 52px;
	color: #383838;
}
.floorRight .floorRightTop li {
	float: left;
	width: 74px;
	height: 50px;
	text-align: center;
	margin: 0 30px;
}
.floorxxk {
	border-bottom: 2px solid #a1c0f6;
}
.floorRight>ul:last-child {
	position: relative;
}
.floorRight>ul:last-child>li {
	position: absolute;
	display: none;
}
.floorRight>ul:last-child .displayblock {
	display: block;
}
.floorRight>ul:last-child>li>ul>li {
	width: 240px;
	height: 250px;
	overflow: hidden;
	float: left;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	text-align: center;
}
.floorRight>ul:last-child li:first-child ul li:not(:nth-child(2)):hover img {
	transform: translateX(10px);
}
.floorRight>ul:last-child li:last-child ul li:hover img {
	transform: translateX(10px);
}
.floorRight>ul:last-child li ul li img {
	transition: 0.5s;
}
.floorRight>ul:last-child li ul li>a {
	display: inline-block;
	width: 180px;
	height: 180px;
	position: relative;
}
.floorRight>ul:last-child li ul li a img {
	width: 180px;
	height: 180px;
	position: absolute;
	left: 14px;
	top: 8px;
}
.floorRight>ul:last-child li ul li p {
	text-align: left;
	line-height: 38px;
	margin-left: 20px;
}
.floorRight>ul:last-child li ul li p a {
	color: #606060;
	font-size: 14px;
}
.floorRight>ul:last-child li ul li p a:hover {
	text-decoration: underline;
	color: #8cb91e;
}
.floorRight>ul:last-child li ul li span {
	margin-left: 23px;
	display: block;
	text-align: left;
	color: #dd0800;
	font-size: 16px;
}
.floorRight>ul:last-child li ul li span b {
	font-weight: normal;
	font-size: 20px;
}
/* floorFour */
.floorRight .hovers {
	left: 50%;
	margin-left: -35px;
}
.wfgd div {
	height: 250px;
	width: 1440px;
	position: absolute;
}
.wfgd .chushi {
	background-position: -24px 0;
}
.wfgd a {
	width: 480px;
	height: 250px;
	display: block;
	float: left
}
.wfgd .jiao1 .jiao1Right {
	left: 448px;
}
/* floorEleven */
.floorEleven,.lastContent {
	margin-bottom: 45px;
}
.floorEleven .floorRight {
	width: 484px;
}
.floorEleven .floorLastRight {
	width: 484px;
}
.floorEleven .floorRight>ul:last-child li:first-child ul li:not(:nth-child(3)):hover img {
	transform: translateX(10px);
}
.floorEleven .floorRight>ul:last-child li ul li img {
	transition: 0.5s;
}
.floorEleven .floorRight2 .floorTop {
	border-bottom: 1px solid #9fe7d7;
}
.floorRight2>ul:last-child li:hover img {
	transform: translateX(10px);
}
.floorRight2>ul:last-child li img {
	transition: 0.5s;
}
.floorRight2>ul:last-child li>a {
	display: inline-block;
	width: 180px;
	height: 180px;
	position: relative;
}
.floorRight2>ul:last-child li a img {
	width: 180px;
	height: 180px;
	position: absolute;
	left: 14px;
	top: 8px;
}
.floorRight2>ul:last-child li p {
	text-align: left;
	line-height: 38px;
	margin-left: 20px;
}
.floorRight2>ul:last-child li p a {
	color: #606060;
	font-size: 14px;
}
.floorRight2>ul:last-child li p a:hover {
	text-decoration: underline;
	color: #8cb91e;
}
.floorRight2>ul:last-child li span {
	margin-left: 23px;
	display: block;
	text-align: left;
	color: #dd0800;
	font-size: 16px;
}
.floorRight2>ul:last-child li span b {
	font-weight: normal;
	font-size: 20px;
}
.floorRight2>ul:last-child li {
	width: 240px;
	height: 250px;
	overflow: hidden;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	text-align: center;
}
/* lastContent */
.lastContent {
	height: 729px;
	border-top: 2px solid #3ea600;
	border-left: 1px solid #ededed;
}
.lastContent a:hover {
	text-decoration: underline;
	color: #3ea600;
}
.lastContent>ul>li {
	width: 241px;
	height: 364px;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
	text-align: center;
	float: left;
}
.lastContent>ul>li h2 {
	font-weight: bold;
	color: #606060;
	font-size: 16px;
	line-height: 82px;
}
.lastContent>ul>li img {
	margin-bottom: 25px;
}
.lastContent>ul>li ul {
	margin-left: 34px;
}
.lastContent>ul>li ul li {
	float: left; 
	width: 95px;
	line-height: 26px;
	text-align: left;
	margin-right: 8px;
}
.stairs {
	position: fixed;
	left: 15px;
	top: 154px;
	width: 45px;
	height: 428px;
	color: #606060;
	display: none;
}
.stairs li {
	border-bottom: 1px dashed #dddddd;
	text-align: center;
	padding: 5px 10px;
	cursor: pointer;
}
.active {
	background: #3da601;
	color: #fff;
}
.stairs li:hover {
	background: #3da601;
	color: #fff;
}