.loginHeader {
	p {
		height: 85px;
		line-height: 85px;
		color: #999999;
		font-size: 16px;
		margin-right: 22px;
		a:hover {
			text-decoration: underline;
		}
	}
	span {
		display: block;
		font-size: 20px;
		line-height: 85px;
		height: 85px;
	}
}
.registerMain {
	width: 1000px;
	margin: 0 auto;
	height: 532px;
	background: url("../image/register.jpg");
	position: relative;
	.registerContent {
		width: 281px;
		height: 395px;
		position: absolute;
		right: 39px;
		bottom: 86px;
		input {
			margin: 10px 0;
			width: 265px;
			height: 33px;
			border: 1px solid #cccccc;
			padding-left: 13px;
			outline: none;
		}
		div {
			position: absolute;
			left: 0;
			top: -9px;
			height: 18px;
		    color: rgb(255, 128, 128);
		    font-family: 宋体;
		    position: absolute;
		    background: rgb(254, 230, 231);
		    border-width: 1px;
		    border-style: solid;
		    border-color: rgb(250, 162, 166);
		    border-image: initial;
		    padding: 0px 20px 0px 16px;
		    display: none;
		}
		i {
			display: inline-block;
			width: 7px;
			height: 7px;
			background: url("../image/jiantou.png");
			position: absolute;
			left: 18px;
			top: 10px;
			z-index: 98;
			display: none;
		}
		button {
			width: 100px;
			height: 33px;
			background: #43a41b;
			border: none;
			color: #fff;
			margin-left: 25px;
			outline: none;
		}
		.check {
			width: 14px;
			height: 14px;
			vertical-align: middle;
			margin-right: 6px;
		}
		p a {
			color: #419bf9;
		}
		.uform>a {
			color: #43a41b;
		}
	}
}